* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: roboto;
}

.contaynir {
    max-width: 1440px;
    margin: 0 auto;
}


.div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div2 {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}


.btn {
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;

}

.btn:hover {
    transform: translateY(-10px);
    width: 220px;
    height: 60px;

}

.btn2:hover {
    transform: translateY(-10px);
    width: 220px;
    height: 45px;

}

.div {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

h1 {
    font-size: 36px;
    color: #007BFF;
}

.btn2 {

    width: 200px;
    height: 40px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}



.bottom {
    height: 150px;
    width: 800px;
    box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.57);
    -webkit-box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.57);
    border-radius: 40px;


    margin-top: 20px;

    padding: 20px;
}